/build/
nbproject/private/private.xml
nbproject/private/private.properties
nbproject/private/private.properties
nbproject/private/private.properties
nbproject/private/private.properties
/dist/
nbproject/private/private.properties
Files/test.pdf